<div class="hello-page">

	<div class="clockin-elements">
		<span class="empCount">
			{{ activeEmpCount }} / {{empCount}}
		</span>

		<div class="empcode-input-container">
			<input *ngIf="selectedEmp === null" type="text" class="form empcode-input" placeholder="enter alias..." #empCodeInput (keyup.enter)="saveEmpcode(empCodeInput.value); empCodeInput.value=''; empCodeInput.blur()">
			<button *ngIf="selectedEmp !== null " class="button clocker-button cancel" (click)="cancelClick()">cancel</button>
		</div>
		
		<div class="clocker-container">
			<button *ngIf="selectedEmp !== null && selectedEmp.activeEntryId === null" class="button clocker-button in" (click)="clockInClick()">clock in</button>
			<button *ngIf="selectedEmp !== null && selectedEmp.activeEntryId !== null" class="button clocker-button out" (click)="clockOutClick()">clock out</button>
			<button *ngIf="selectedEmp !== null && selectedEmp.activeEntryId !== null && selectedEmp.onBreak === false" class="button clocker-button break-in" (click)="breakInClick()">break in</button>
			<button *ngIf="selectedEmp !== null && selectedEmp.activeEntryId !== null && selectedEmp.onBreak === true" class="button clocker-button break-out" (click)="breakOutClick()">break out</button>
		</div>
	</div>

	<div class="background-layer">
		<ng-container *ngFor="let e of activeEmps()">
			<div class="thumb-wrapper"  [style.top]= e.position>
				<button  class="button thumb" (click)="goToEmployeePage(e)"
					[ngStyle]=
					"{
						'background-image': `url(${employeeService.getImageUrl(e) || fallbackImage})`,
					}"
				>
					<span class="text">{{e.employeeCode}}</span>
				</button>
				<div class="trail"
					[ngStyle]=
					"{
						'width': e.trailWidth,
						'background-color': e.onBreak ? '#fff38b' : '#C1E1C1',
						transform: 'translateY(-25px)translateX(50px)',
					}"
				></div>
				<button class="button head"
					[ngStyle]=
					"{
						'background-color': e.onBreak ? '#fff38b' : '#D1E1C1',
						transform: `translateY(-56px) translateX(calc(${e.trailWidth} + 50px))`
					}"
				>{{e.elapsedTxt}}
				</button>
			</div>
		</ng-container>
	</div>

	<div class="page-padding" style="height: 100vh; margin-bottom: 50px;"></div>
</div>