@use "sass:math";
@use '../styles/pantone.scss' as p;

:host 
{
	display: block;
	flex-grow: 1;	
}

.hello-page 
{
	height: 100%;
	width: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
}		


.empCount
{
	transform: translateY(100px);
	color: #a7a7a7;
	font-size: 12px;
}

.clockin-elements
{
	padding-top: 100px;

	z-index: 1;
	font-size: 12px;

	.empcode-input-container
	{

		z-index: 2000;

		.empcode-input {width: 300px; height: 30px; border-radius: 5px;}
		.cancel {width: 15vw; box-shadow: 0 0 1px p.$white;}
	}

	.clocker-container
	{
		margin-top: 10px;
		width: 15vw;
		height: 5vh;

		display: flex;
		gap: 5px;

		.clocker-button
		{
			width: 100%;
			height: 100%;

			&.idle {color: p.$idle}
			&:hover {background-color: p.$grey;}
			&.in {color: p.$white; &:hover {color: p.$black; background-color: p.$green;}}
			&.out {color: p.$white; &:hover {color: p.$black; background-color: p.$red;}}
			&.break-in {color: p.$white; &:hover {color: p.$black; background-color: p.$yellow;}}
			&.break-out {color: p.$white; &:hover {color: p.$black; background-color: p.$yellow;}}
		}
	}
}

.background-layer 
{
	position: relative;

	top: 40px;
	width: fit-content;
	height: fit-content;
	margin-bottom: 50px;

	display: flex;

	transition: transform 0.3s ease;

	.thumb-wrapper
	{
		position: absolute;
		left: -280px;
	}

	.thumb
	{
		height: 51px;
		width: 51px;

		border-radius: 50%;
		border: 0.5px, solid, p.$idle;

		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;

		color: transparent;

		z-index: 2;
		position: relative;
	}
	.thumb:hover 
	{
		color: p.$white;
	}
	.thumb::after 
	{
		content: '';
		position: absolute;
		inset: 0;
		background-color: p.$black;
		opacity: 0;
		transition: opacity 0.5s ease;
		color: p.$white;
		border-radius: 50%;
	}
	.thumb:hover::after 
	{
		opacity: 1;
	}
	.thumb .text 
	{
		position: relative;
		z-index: 2;
		
		color: transparent;
		transition: color 0.5s ease;
	}
	.thumb:hover .text 
	{
		color: white;
	}

	.trail
	{	
		min-width: 25px;
		height: 5px;

		background-color: rgb(185, 211, 147);
		border-radius: 50px;

		z-index: -1;
	}

	.head
	{
		display: flex;
		align-items: center;
		justify-content: center; 
		
		height: 51px;
		width: 51px;

		border-radius: 50%;

		background-color: rgb(185, 211, 147);
		color: p.$black;
		z-index: -2;
	}
	
}
