<div class="hello-page">

	<div class="empcode-form-container">
		<mat-icon class="mat-icon-large" (click)="login()">person</mat-icon>
		<input *ngIf="selectedEmp === null" type="text" class="form empcode-form" placeholder="login" #empCodeInput (keyup.enter)="saveEmpcode(empCodeInput.value); empCodeInput.value=''; empCodeInput.blur()">
		<button *ngIf="selectedEmp !== null " class="button clocker-button cancel" (click)="cancelClick()">cancel</button>
	</div>

	<div class="clocker-container">
		<button *ngIf="selectedEmp !== null && selectedEmp.activeEntryId === null" class="button clocker-button in" (click)="clockInClick()">clock in</button>
		<button *ngIf="selectedEmp !== null && selectedEmp.activeEntryId !== null" class="button clocker-button out" (click)="clockOutClick()">clock out</button>
		<button *ngIf="selectedEmp !== null && selectedEmp.activeEntryId !== null && selectedEmp.onBreak === false" class="button clocker-button break-in" (click)="breakInClick()">break in</button>
		<button *ngIf="selectedEmp !== null && selectedEmp.activeEntryId !== null && selectedEmp.onBreak === true" class="button clocker-button break-out" (click)="breakOutClick()">break out</button>
	</div>

	<div class="divider" style="height: 30%;"></div>

	<div class="timeline">
		
		<div class="time">
			<div class="start">00:00</div>
			<div class="afternoon">12:00</div>
			<div class="end">24:00</div>
		</div>

		<div class="marks">
			<div class="mark start-dot"></div>
			<div class="mark afternoon-dot"></div>
			<div class="mark end-dot"></div>
		</div>

		<div class="ticks">
			<div class="tick"></div>
			<div class="tick"></div>
			<div class="tick"></div>
			<div class="tick"></div>
			<div class="tick"></div>
			<div class="tick"></div>
			<div class="tick"></div>
			<div class="tick"></div>
			<div class="tick"></div>
			<div class="tick"></div>
			<div class="tick"></div>
			<div class="tick"></div>
			<div class="tick"></div>
			<div class="tick"></div>
			<div class="tick"></div>
			<div class="tick"></div>
			<div class="tick"></div>
			<div class="tick"></div>
			<div class="tick"></div>
			<div class="tick"></div>
			<div class="tick"></div>
			<div class="tick"></div>
			<div class="tick"></div>
			<div class="tick"></div>
			<div class="tick"></div>
		</div>

		<div *ngFor="let e of entryValues()">
			<span class="dot dot-in" [style.left]="e.inPosition">
			</span>

			<span 
				class="line line-in" 
				[style.left]="e.inPosition" 
				[style.height]="e.lineHeight" 
				[style.bottom.%]="50">
			</span>

			<span
				class="thumb thumb-in"
				[style.left]="e.inPosition" 
				[style.bottom]="e.lineHeight"
				[style.background-image]="e.image"
				[style.background-size]="'cover'"
				[style.background-position]="'center'"
				[style.background-repeat]="'no-repeat'">
			</span>

			<span *ngIf="e.hasOut" class="dot dot-out" [style.left]="e.outPosition">
			</span>

			<span 
				*ngIf="e.hasOut" 
				class="line line-out" 
				[style.left]="e.outPosition" 
				[style.height]="e.lineHeight" 
				[style.top.%]="0">
			</span>

			<span
				*ngIf="e.hasOut"
				class="thumb thumb-out"
				[style.left]="e.outPosition" 
				[style.top]="e.lineHeight"
				[style.background-image]="e.image"
				[style.background-size]="'cover'"
				[style.background-position]="'center'"
				[style.background-repeat]="'no-repeat'">
			</span>
		</div>
	</div>
	<div class="clock" #clock></div>
</div>