@use '../styles/pantone.scss' as p;

:host 
{
	display: block;
	flex-grow: 1;	
}

.emp-page
{
	height: 100%;
	width: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
	gap: 10px;
}

.emp-container
{
	height: fit-content;
	width: fit-content;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	
	gap: 10px;

	.emp-data-frame
	{
		height: 450px;
		width: 370px;

		display: flex;
		flex-direction: column;
		align-items: center;

		border: 0.5px, solid, p.$idle;
		border-radius: 5%;
		background-color: transparent;

		box-shadow: 0 0 20px rgba(0, 0, 0, 0.63);

		z-index: 80;
	}
	.edit-emp-button
	{
		align-self: flex-start;

		margin-top: 10px;
		margin-left: 30px;
		margin-bottom: -20px;

		width: 50px;
		border: 1px, solid, p.$yellow;

		color: p.$white;

		box-shadow: 0 0 20px rgba(0, 0, 0, 0.63);

		z-index: 100;
	}
	.emp-data-content
	{
		height: 400px;
		width: 350px;

		margin-top: 10px;
		display: flex;
		flex-direction: column;
		align-items: center;

		border: 1px, solid, p.$idle;
		border-radius: 5%;
		background-color: p.$softBlack;
		
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.63);

		z-index: 90;
		.thumb
		{
			margin-top: 40px;

			height: 80px;
			width: 80px;
			border-radius: 50%;

			border: 0.5px, solid, p.$idle;
			background-color: transparent;

			transition: box-shadow 0.5s ease, transform 0.5s ease;

			margin-bottom: 15px;

		}
		.led.green
		{
			margin-left: 25px;
			margin-top: -20px;

			background-color: p.$green;
			box-shadow: 0 0 5px p.$green;
		}
		.data-content p
		{
			margin-top: 0;
			margin-bottom: 8px;
		}
		.data-content
		{
			margin-top: 40px;

			width: 90%;
			height: 50%;

			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			border: 0.5px, solid, p.$idle;
			border-radius: 5%;
			background-color: p.$softBlack;
			
			box-shadow: 0 0 20px rgba(0, 0, 0, 0.377);
			.data
			{
				color: p.$yellow;
			}
			.title
			{
				color: p.$yellow;
			}
			.content
			{
				color: p.$white;
			}
		}
	}

	// edit panel
	
	.edit-panel-frame
	{
		height: 450px;
		width: 370px;

		display: flex;
		flex-direction: column;
		align-items: center;

		border: 0.5px, solid, p.$idle;
		border-radius: 5%;
		background-color: transparent;

		box-shadow: 0 0 20px rgba(0, 0, 0, 0.63);

		z-index: 80;
	}
	.close
	{
		align-self: flex-start;

		margin-top: 10px;
		margin-left: 30px;
		margin-bottom: -20px;

		width: fit-content;
		border: 1px, solid, p.$yellow;

		color: p.$white;

		box-shadow: 0 0 20px rgba(0, 0, 0, 0.63);

		z-index: 100;
	}
	.edit-panel-content
	{
		height: 400px;
		width: 350px;
		margin-top: 10px;
		
		gap: 10px;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		border: 1px, solid, p.$idle;
		border-radius: 5%;
		background-color: p.$softBlack;
		
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.63);

		z-index: 90;

		.label
		{
			align-self: flex-start;

			margin-top: 5px;
			margin-left: 20px;
			margin-bottom: -15px;
	
			width: fit-content;
			height: 30px;

			background-color: p.$black;
			color: p.$white;
	
			border: 0.5px, solid, p.$yellow;
			border-radius: 10px;
	
			z-index: 100;

			text-align: center;
			display: flex;
			justify-content: center;
			align-items: center;

			cursor: default;
		}
		.button.picture
		{
			width: 30ch;

			border: 0.5px, solid, p.$white;
			border-radius: 10px;
		}
		.input
		{
			width: 30ch;

			border: 0.5px, solid, p.$white;
			border-radius: 10px;

			color: p.$idle;
		}
	}
}

.delete-emp
{
	width: fit-content;

	margin-right: auto;
	
	border: 0.5px, solid;
	border-color: p.$red;
	&:hover
	{
		background-color: p.$red;
	}
}

.separator
{
	margin-top: 10px;
}

.wrap-bot-buttons
{
	display: flex;

	height: auto;
	width: 370px;
	gap: 10px;
}