@use "sass:math";

.dashboard 
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.timeline
	{
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translateX(-50%);
		width: 1200px;
		height: 1px;
		background-color: #ffff00b2;
		z-index: 1000;
		box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.342);
	}

	.time
	{
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 10px;
		width: 1223px;
		background-color: transparent;
		font-family: 'Inter', sans-serif;
		font-size: 8px;
		color: #ffffffc2;
		z-index: 1001;
		text-align: center;
		.start
		{
			position: absolute;
			left: 0;
		}
		.afternoon
		{
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
		}
		.end
		{
			position: absolute;
			right: 0;
		}
	}

	// 12-hours circles
	.marks
	{
		position: fixed;
		top: 50%;
		left: 50%;
		width: 1200px;
		transform: translateX(-50%);
		z-index: 1000;
	}
	.mark
	{
		position: absolute;
		width: 32px;
		height: 32px;
		background-color: #1d1d1dd7;
		border-radius: 50%;
		border: 1px solid #ffff00b2;
	}
	.start-dot
	{
		left: 0;
		transform: translateX(-50%) translateY(-50%);
	}
	.afternoon-dot
	{
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
	}
	.end-dot
	{
		right: 0;
		transform: translateX(50%) translateY(-50%);
	}

	// timeline-hour marks
	.ticks
	{
		position: fixed;
		top: 50%;
		left: 50%;
		width: 1200px;
		transform: translate(-50%, -50%);
		z-index: 999;
	}

	.tick
	{
		position: absolute;
		width: 1px;
		height: 8px;
		background-color: #ffff00b2;
		transform: translateY(-50%);
	}
	@for $i from 0 through 24
	{
		.tick:nth-child(#{$i + 1})
		{
			left: math.div($i, 24) * 100%;
		}
	}

	// clock-in and out elements

	.dot
	{
		position: absolute;
		width: 5px;
		height: 5px;
		border-radius: 50%;
		transform: translateX(-50%) translateY(-50%);
		z-index: 1100;
	}
	.dot-in
	{
		background-color: #5eff81;
		box-shadow: 0 0 3px #5eff8196;
	}
	.dot-out
	{
		background-color: #ff4a4a;
		box-shadow: 0 0 3px #ff4a4a8e;
	}
}
