.dashboard 
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.emp-code 
	{        
		margin-top: 20px;
	}

	.emp-code form 
	{
		display: flex;
		flex-direction: column;     
		align-items: center;        
		gap: 10px;                  
	}

	.emp-code textarea 
	{
		text-align: center;				// centers typed text and placeholder
		resize: none;					// prevent resizing
		height: 30px;        
		line-height: 1.2;    
		padding: 5px 10px;   
		font-size: 14px;     
		box-sizing: border-box;
		overflow: hidden;
	}

	.clock-in 
	{
		margin-bottom: 20px;
 	}

	.timeline
	{
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translateX(-50%);
		width: 1200px;
		height: 1px;
		background-color: #ffff00b2;
		z-index: 1000;
		box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.342);
	}

	.time
	{
		position: fixed;
		top: 47%;
		left: 50%;
		transform: translateX(-50%);
		width: 1230px;
		background-color: transparent;
		font-family: 'Inter', sans-serif;
		font-size: 12px;
		color: #ffffffc2;
		z-index: 1001;
		text-align: center;
		.start
		{
			position: absolute;
			left: 0;
		}
		.afternoon
		{
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
		}
		.end
		{
			position: absolute;
			right: 0;
		}
	}

	.marks
	{
		position: fixed;
		top: 50%;
		left: 50%;
		width: 1200px;
		transform: translateX(-50%);
		z-index: 1002;
	}

	.mark
	{
		position: absolute;
		width: 8px;
		height: 8px;
		background-color: #ffff00b2;
		border-radius: 50%;
	}

	.start-dot
	{
		left: 0;
		transform: translateX(-50%) translateY(-50%);
	}

	.afternoon-dot
	{
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
	}

	.end-dot
	{
		right: 0;
		transform: translateX(50%) translateY(-50%);
	}
}
