<div class="dashboard">

	<div class="timeline">

		<div class="time">
			<div class="start">00:00</div>
			<div class="afternoon">12:00</div>
			<div class="end">24:00</div>
		</div>

		<div class="marks">
			<div class="mark start-dot"></div>
			<div class="mark afternoon-dot"></div>
			<div class="mark end-dot"></div>
		</div>

		<div class="ticks">
			<div class="tick"></div>
			<div class="tick"></div>
			<div class="tick"></div>
			<div class="tick"></div>
			<div class="tick"></div>
			<div class="tick"></div>
			<div class="tick"></div>
			<div class="tick"></div>
			<div class="tick"></div>
			<div class="tick"></div>
			<div class="tick"></div>
			<div class="tick"></div>
			<div class="tick"></div>
			<div class="tick"></div>
			<div class="tick"></div>
			<div class="tick"></div>
			<div class="tick"></div>
			<div class="tick"></div>
			<div class="tick"></div>
			<div class="tick"></div>
			<div class="tick"></div>
			<div class="tick"></div>
			<div class="tick"></div>
			<div class="tick"></div>
			<div class="tick"></div>
		</div>

		<div *ngFor="let entry of entries()">
			<span class="dot dot-in" [style.left]="getInPosition(entry)"></span>
			<span *ngIf="getOuts(entry)" class="dot dot-out" [style.left]="getOutPosition(entry)"></span>
		</div>

	</div>
</div>
