@use 'app/styles/pantone.scss' as p;

html, body 
{
	margin: 0;
	height: 100%;
	background:
		radial-gradient(circle, rgb(53, 53, 53) 0%, transparent 1px),
		radial-gradient(#f3f3f3);
	background-size: 30px 30px, cover;

	font-family: 'Inter', sans-serif;
	font-size: 12px;
}

app-root 
{
	display: flex;
	flex-direction: column;
	height: 100%;
}

// Custom elements

.input
{	
	width: 10vw;
	height: 5vh;

	background-color: p.$idle;
	color: p.$yellow;
	transition: background-color 0.5s ease, color 0.5s ease;

	border-radius: 10px;
	border: none;
	outline: none;
	&::placeholder
		{color: p.$idle;}
	&:focus
	{
		background-color: p.$grey;
		outline: none;
	}  
	&:focus::placeholder 
		{color: transparent;}
	&:hover
	{
		background-color: p.$grey;
	}

	text-align: center;        
}

.form
{	
	width: 10vw;
	height: 5vh;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;     
	
	background-color: p.$idle;
	color: p.$yellow;
	transition: background-color 0.5s ease, color 0.5s ease;

	border-radius: 10px;
	border: none;
	outline: none;
	&::placeholder
		{color: p.$black;}
	&:focus
	{
		background-color: p.$grey;
		outline: none;
	}  
	&:focus::placeholder 
		{color: transparent;}
	&:hover
	{
		background-color: p.$grey;
	}

	text-align: center;
}

.led
{
	width: 10px;
	height: 10px;

	border-radius: 50%;
	
	background-color: p.$white;
}

.button
{
	// reset default settings
	appearance: none;
  	-webkit-appearance: none;
	border: none;
	outline: none;

	width: fit-content;
	padding-left: 10px;
	padding-right: 10px;
	height: 30px;

	background-color: p.$black;
	color: p.$white;
	transition: background-color 0.5s ease, color 0.5s ease, opacity 0.5s ease;

	border-radius: 2px;

	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;

	&:focus
	{
		border: none;
		background-color: p.$grey;
		outline: none;
		box-shadow: none;
	}  
	&:focus::placeholder {color: transparent;}
	&:hover {background-color: p.$grey;}
	
	cursor: pointer;
}

.label
{
	align-self: flex-start;

	margin-top: 5px;
	margin-left: 20px;
	margin-bottom: -10px;

	max-width: fit-content;
	padding: 0.5ch 1ch;   
	height: 30px;

	background-color: p.$black;
	color: p.$white;

	border: 0.5px, solid, p.$yellow;
	border-radius: 10px;

	z-index: 1000;

	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;

	cursor: default;
}
