@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

$green: #5eff81;
$red: #ff4a4a;
$yellow: #ffff00b2;
$black: #1d1d1df3;
$grey: #2c2c2cbb;
$white: #dadadacc;
$idle: #777777e8;

// Background stuff
body
{
	box-sizing: border-box;
	background: 
		radial-gradient(circle, rgba(255, 230, 0, 0.185) 0%, transparent 1px),
		radial-gradient(circle, #181818, #0c0c0c);
	background-size: 30px 30px, cover;
	font-family: 'Inter', sans-serif;
	font-size: 14px;
	height: 100%;
	min-height: 100%;
	margin: 0px;
}

.clock 
{
	position: fixed;
	top: 90%;
	left: 50%;
	transform: translate(-50%, -50%) scaleX(1) scaleY(1);

	font-family: 'Inter', monospace;
	font-variant-numeric: tabular-nums;
	font-weight: 900;
	text-transform: uppercase;
	text-align: center;
	white-space: nowrap;

	color: #ffffff11;
	pointer-events: none;
	user-select: none;
	z-index: -1;

	font-size: 15vw;
	line-height: 1;
}

// Custom elements

button 
{
	background: transparent;     
	border: none;                
	color: rgba(255, 255, 255, 0.774);              
	cursor: pointer;
}

.form
{	
	width: 10vw;
	height: 5vh;

	background-color: $black;
	color: $yellow;
	transition: background-color 0.5s ease, color 0.5s ease;

	border-radius: 10px;
	border: none;
	&::placeholder
		{color: $idle;}
	&:focus
	{
		background-color: $grey;
		outline: none;
	}  
	&:focus::placeholder 
		{color: transparent;}
	&:hover
	{
		background-color: $grey;
	}

	text-align: center;        
}

textarea
{
	background: transparent;     
	border: none;                
	color: rgba(255, 255, 255, 0.774);              
	cursor: pointer;
}

.button
{
	width: 10vw;
	height: 5vh;

	background-color: $black;
	color: $white;
	transition: background-color 0.5s ease, color 0.5s ease;

	border-radius: 10px;

	text-align: center;
	display: flex;
    justify-content: center;
    align-items: center;

	&:focus
	{
		border: none;
		background-color: $grey;
		outline: none;
	}  
	&:focus::placeholder 
		{color: transparent;}
	&:hover
	{
		background-color: $grey;
	}
	
	cursor: pointer;
}
