$green: #5eff81;
$red: #ff4a4a;
$yellow: #ffff00b2;
$black: #1d1d1dd7;
$grey: #2c2c2ccc;

.clocker-container
{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2vw;
	height: 100vh;

	.clocker-empcode 
	{
		width: 46vw;
		max-width: 90%;
		height: 5vh;
		
		background-color: $black;
		border-radius: 10px;
		color: rgba(255, 255, 255, 0.774);
		border: 1px solid rgba(235, 235, 235, 0.034);

		text-align: center;

		&:focus
		{
			outline: none;
			border-style: solid;
			border-color: rgba(235, 235, 235, 0.034);
			border-width: 1px;
		}
		&::placeholder
		{
			text-align: center;  
		}
		&:focus::placeholder
		{
			color: transparent;
		}
	}

	.clocker-clockers
	{	
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 5vw;
		height: 40vh;
		
		.clocker-stack 
		{
			position: relative;
			width: 20vw;
			height: 40vh;
			display: flex;
			justify-content: center;
			padding-top: 5vh;
	
			.clocker-text
			{
				position: absolute;
				text-align: center;
				transform: translate(-50%, -50%);
				left: 50%;
				top: 5%;
				font-size: 30px;
				font-weight: bolder;
			}
	
			.clocker-form 
			{
				position: absolute;
				width: 100%;
				height: 40vh;
				background-color: $black;
				border-radius: 10%;
				z-index: 2;
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				&::before 
				{
					content: "";
					position: absolute;
					top: -15%;
					left: -2.5%;
					width: 105%;
					height: 48.5vh;
					background-color: #1d1d1d41;
					border-radius: 10%;
					z-index: 1;
					border: 1px solid rgba(85, 85, 85, 0.158);
				}
			}
		}
	}	
}