<div class="main-header" >

	<div class="header-block">
		<button class="button" onclick="window.location.href='/hello'">Shifty</button>
	</div>

	<div class="header-block">
		<button class="button" onclick="window.location.href='/find-employee'">Employees</button>
	</div>

	<div class="header-block">
		<button class="button" *ngIf="!authService.isLoggedIn()" onclick="window.location.href='/login'">Login</button>
		<button class="button" *ngIf="authService.isLoggedIn()" (click)="logService.logout()">Logout</button>
	</div>
</div>